Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_Tumor.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_cell_seg_data.txt
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_2_score_data.txt
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_Tumor.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_cell_seg_data.txt
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example-R/MEL2/MEL2_7_score_data.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_Tumor.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_cell_seg_data.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_1_score_data.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_Tumor.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_cell_seg_data.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example-R/MEL3/MEL3_2_score_data.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_Tumor.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_cell_seg_data.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_2_score_data.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_Tumor.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_cell_seg_data.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example/MEL2/MEL2_7_score_data.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_Tumor.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_cell_seg_data.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_1_score_data.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_Invasive_Margin.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_Tumor.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_binary_seg_maps.tif
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_cell_seg_data.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_cell_seg_data_summary.txt
Data/IrisSpatialFeatures/Example/MEL3/MEL3_2_score_data.txt
Data/IrisSpatialFeatures/Example/pythologist.h5
